body {
  font-family: arial, helvetica, sans-serif;
}

form {
  div {
    padding: 5px 0;
    label {
      display: inline-block;
      width:80px;
    }
    textarea {
      vertical-align: middle;
    }
  }
  textarea {
    width: 300px;
    height:40px;
  }
}
#flash {
  font-weight: bolder;
  .alert{
    color:red;
  }

}

form.new_user {
  .field_with_errors  {
    display: inline-block;
    input {
      border: 1px solid red;
    }
  }
}

div#conversation {
  div.message {
    margin: 5px 0;
    border-top :1px dashed gray;
    .header {
      .author {
        font-weight: bolder;
      }
      .timestamp {
        font-style: italic;
      }
    }
    .body {
      padding-bottom: 10px;

    }
  }
}